:root {
  background: rgb(246, 244, 248);
}

.filter-section {
  padding: 10px;
}

.filter-heading {
  font-weight: bold;
  font-size: 15px;
}

.btn:hover {
  opacity: 0.7;
}
input{
  color:black;
}
.marque {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background: rgb(246, 244, 248);
}
.btnLink i {
  color: rgb(68, 8, 145);
}
.loginSection {
  height: 100vh;
}
.img {
  border-radius: "100%";
}
.btnLink {
  color: black;
}
.btnDeals {
  color: rgb(68, 8, 145);
  font-size: "20px";
}
.marquee-text {
  color: #c0c4c7;
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.filter-label {
  font-weight: normal;
  color: black;
  font-size: 14px;
}

.airlines-list-user::-webkit-scrollbar {
  width: 2px;
  border-radius: 100%;
}

.airlines-list-user::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 100%;
}

.airlines-list-user::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
  border-radius: 10px;
}

.airlines-list-user::-webkit-scrollbar-thumb:hover {
  background-color: #e0e0e0;
}

.airlines-list-user {
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: none;
  width: 100%;
  padding: 10px;
}

.airlines-list::-webkit-scrollbar {
  width: 2px;
  border-radius: 100%;
}

.airlines-list::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 100%;
}

.airlines-list::-webkit-scrollbar-thumb {
  background-color: #440891;
  border-radius: 10px;
}

.airlines-list::-webkit-scrollbar-thumb:hover {
  background-color: #5a14b8;
}

.airlines-list {
  max-height: 170px;
  overflow-y: auto;
  width: 100%;
  padding: 10px;
}

.custom-radio .custom-control-label::before {
  border: 0.1px solid #440891;
  background-color: transparent;
  height: 10px;
  width: 10px;
}

.categories {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
}

.image-wrapper {
  overflow: hidden;
  border-radius: 20px;
}

.btn {
  outline: none;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-wrapper:hover img {
  transform: scale(1.2);
}

.categories p {
  position: absolute;
  bottom: 5%;
  left: 4%;
  color: white;
  z-index: 10;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #440891;
  border-color: #440891;
  height: 10px;
  width: 10px;
}

.stars i {
  color: rgb(68, 8, 145);
}

.stars i.filled {
  color: rgb(68, 8, 145);
}

.btn-spacing {
  margin: 1px;
  width: 100%;
}

.flight-box {
  background-color: rgb(255, 255, 255);

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.flight-time {
  font-size: 25px;
}

.flight-details {
  color: rgb(68, 8, 145);
  cursor: pointer;
}

.flight-price {
  font-weight: bold;
}

.modal-title {
  font-size: 10px;
}

.modal-header {
  background-color: #f6f4f8;
}
.selectFilter {
  font-weight: bold;
  background: transparent;
  color: black;
  border: none;
  outline: none;
}
.banner {
  background: white;
}
.fa-circle-info {
  color: rgb(68, 8, 145);
}
.divIcon {
  color: rgb(68, 8, 145);
  position: absolute;
  top: 10px;
}
.modal-content {
  background-color: #f6f4f8;
}
.flightsCardD {
  border: "1px solid rgb(223,233,223)";
  border-radius: "10px";
  background: "#e0e0e0";
}
.text-gray {
  color: gray;
  font-size: 12px;
}
.flightsCard {
  border: 1px solid rgb(223, 233, 223);

  border-radius: 10px;
}
.btn-outline-secondary {
  color: black;
}
.scrollable-card {
  max-height: 500px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 10px;
  scrollbar-width: thin;
}
.modal-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.modal-item strong {
  margin-right: 10px;
  color: #4a4a4a; 
}

.aircraft-type,
.airline-name,
.time,
.baggage,
.status,
.destination,
.terminal,
.visa {
  font-weight: normal;
  color: #333; 
}

.close {
  background-color: rgb(68, 8, 145, 0.9) !important;
  padding: 10px !important;
  font-weight: none !important;
  opacity: 1 !important;
  text-shadow: none !important;
  font-size: 15px;
  color: white;
}

.image-wrapper {
  position: relative;
}
.cardBilet {
  border: none;
  border-radius: 10px;
  border-bottom-left-radius: 0;

  position: relative;
}
.p {
  position: absolute;
  bottom: 5%;
}
.p span i {
  font-size: 2rem;
  color: white;
}
.image-wrapper .card-img-top {
  border-radius: 20px;
}
.stars::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 20px;
  background-color: #ccc;
}
.offer-highlight {
  color: #d700d1; 
  background: linear-gradient(
    100deg,
    rgba(68, 8, 145, 1) 5%,
    rgb(209, 181, 236) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.importLogin {
  font-size: 13px;
  color: white;
}
.form-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 20px; 
}

.formclose {
  background: rgb(224, 205, 243);
  color: black;
  display: block;
  width: 150px; 
  margin: 0 auto;
}
.formclose:hover {
  background: rgb(204, 202, 207);
}
.btnlogin {
  width: 100%;
  color: rgb(68, 8, 145);
}
.imgLoginn {
  background-color: rgb(68, 8, 145);
  color: white;
  padding: 40px;
  height: 100vh;
}
.h1 {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.stars:last-child::after {
  display: none;
}
.imglogin {
  background-image: url("../public/images/Login.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
}
.stars i {
  font-size: 12px;
}
.bookflight{
  border-top-left-radius: 10px;
  height: 50px;
  width: 120px;
  border-bottom-right-radius: 10px;
  background: rgb(68,8,145);
  border: none;
  color: white;
  font-size: 15px;
}
.checkthedetail{
  border-radius: "0 0 10px 10px";
  height: 40px;
  width: 180px;
  border: none;
  outline: none;
  color: rgb(68,8,145);
  background: rgb(229,224,234);
  text-decoration: underline;
  font-size:14px;
}
@media (max-width: 991px) {
  .starsRow {
    text-align: center;
  }
  .flightsCard .flight-price{
    font-size: 14px;
 
  }
  .flightsCard .text-gray{
    font-size: 10px !important;
    text-align: center;
  }

}

@media (max-width: 768px) {
  .flightsCard .flight-price {
    font-size: 12px !important;
  }
.flight-time{
 font-size: 19px;
 padding-left: 14px;
}
.details p{
  font-size: 13px;
  padding-left: 13px;
}
  .flightsCard {
    height: 80px;
    padding: 0 !important;
  }
  .flightsCard .text-gray{
    font-size: 8px !important;
    text-align: center;
  }
}
@media (max-width: 586px) {

  .flightsCard .flight-price{
    font-size: 10px;
  
  }
  .flightsCard .text-gray{
    font-size: 9px !important;

  }
.cardBilet .col-3 p{
    font-size: 14px !important;
  }
  .cardBilet .col-3  ul li{
    font-size: 12px !important;
  }
  .cardBilet .col-2  ul li{
    font-size: 12px !important;
  }
  .bookflight{

    width:100px !important;
    height:40px !important;
  }
  .checkthedetail{
    height: 40px !important;
    width: 120px !important;
    font-size: 12px ;
  }
}
@media (max-width: 575px) {

  .details p {
    text-align: center;
  }
  .flight-timeDiv {
    text-align: center !important;
  }
}
@media (max-width: 545px) {
  .imglogin {
    display: none !important;
  }
  .imgLoginn {
    height: 100vh !important;
  }
  .cardBilet .col-3 p{
    font-size: 13px !important;
  }
  .cardBilet .col-3  ul li{
    font-size: 11px !important;
  }
  .cardBilet .col-2  ul li{
    font-size: 9px !important;
  }
}
